@import url('https://fonts.googleapis.com/css2?family=Asap&family=Crimson+Text&family=Port+Lligat+Sans&display=swap');

:root {
    --primary-color: #34D399;
    --bg-color: #F5F3FF;
    --secondary-color: #3f3d56;
}

body {
    font-family: 'Asap', sans-serif;
    font-family: 'Crimson Text', serif;
    font-family: 'Port Lligat Sans', sans-serif;
    background-color: var(--bg-color);
    margin: 0px;
}

p {
    color: var(--secondary-color);
    font-size: large;

}

hr {
    margin: 2rem 0rem;
}

/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-center {
    max-width: 600px;
    margin: auto;
}

/** links **/
.link {
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.primary-link {
    background-color:
        var(--primary-color);
    border-radius: 0.5rem;
    color: white;
    font-weight: bold;
}

.secondary-link {
    color: var(--secondary-color);
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
    font-weight: bold;
}

/** lists **/
.list-non-bullet {
    list-style: none;
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;

}

/** navigation **/
.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-pills {
    text-align: right;
}

.navigation .link {
    color: var(--secondary-color);


}

.navigation .nav-brand {
    color: #39374e;
    font-weight: bold;
    font-size: 2rem;
}

.navigation .link-active {
    font-weight: bold;
}

/** header **/
.hero {
    padding: 2rem;
    padding-top: 5rem;
}

.hero .hero-img {
    max-width: 350px;
    display: block;
    margin: auto;
}

.hero .hero-heading {
    text-align: center;
    font-size: 2rem;
    color: #39354d;
}

.hero .highlight {
    color: var(--primary-color);
}

/** section **/
.section {
    padding: 2rem;
}

.section h1 {
    text-align: center;

}

.ow {
    background-color: #DDD6FE;
}

/** footer **/
.footer {
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    text-align: center;
    color: #39354d;
    border-top-right-radius: 1rem;
}

.footer .link {
    color: white;

}

.footer ul {
    padding-inline-start: 0rem;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}

.highlight {
    color: var(--primary-color);
}

.txt-link {
    text-decoration: underline;
    color: var(--primary-color);
}